body{
    margin: 0;
    height: 100vh;
}
.Header{
    width: 100vw;
    position: fixed;
    top: 0;
    background-color:#fff4f4;
    height: 70px;
}
.App{
    background-color: rgb(255, 255, 255);
    height: 3000px;
}

